@font-face {
    font-family: "HK Grotesk";
    src: url(font/hk-grotesk.woff2), url(font/hk-grotesk.woff);
}

@font-face {
    font-family: "HK Grotesk Light";
    src: url(font/hk-grotesk-light.woff2), url(font/hk-grotesk-light.woff);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #E3F1FF;
}
   
::-webkit-scrollbar-thumb {
    background: #12184a; 
    border-radius: 50px;
    border: solid 2px #E3F1FF;
}

::-webkit-scrollbar-thumb:hover {
    background: #12184a85; 
}

a::-moz-selection, 
p::-moz-selection, 
h1::-moz-selection, 
h2::-moz-selection, 
h3::-moz-selection, 
li::-moz-selection, 
span::-moz-selection, 
button::-moz-selection, 
input::-moz-selection, 
textarea::-moz-selection {
    background-color: #12184a;
    color: #fff;
}

a::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
li::selection,
span::selection,
button::selection,
input::selection,
textarea::selection {
    background-color: #12184a;
    color: #fff;
}

img::-moz-selection {
    background-color: transparent;
}

img::selection {
    background-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    overflow-x: hidden;
    font-family: "HK Grotesk", Arial, Helvetica, sans-serif;   
    font-size: 14px;
    font-style: normal;
    color: #12184a;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #12184a;
}

a:visited {
    text-decoration: none;
    color: #12184a;
}

.link {
    cursor: pointer;
    padding: 1px 0;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #12184a;
    top: 100%;
    left: 0;
    pointer-events: none;
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.link:hover::before {
    -webkit-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}

header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 64px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.55);
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo img {
    height: 10vh;
}

.logo p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
    margin-left: 16px;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.navbar a {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 40px;
    cursor: pointer;
}

.dropdown-menu li {
    list-style-type: none;
}

.dropdown-menu {
    position: relative;
}

.dropdown-btn span {
    margin-left: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100vw;
    padding-top: 8px;
    -webkit-transition: all .5 ease;
    -o-transition: all .5 ease;
    transition: all .5 ease;
}

.dropdown-content a {
    text-transform: none;
    line-height: 1.5;
}

.dropdown-menu:hover .dropdown-content {
    display: inline-grid;
    display: -ms-inline-grid;
    display: -moz-inline-grid;
}

.pad-top {
    padding-top: 20vh;
}

@-webkit-keyframes appear {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% { 
        opacity: 0;
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    50% {
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    50% {
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
    100% {
        opacity: 1;
    }
}

.icon-gas {
    opacity: 0;
    -webkit-animation: appear .8s .4s forwards;
            animation: appear .8s .4s forwards;
}

.icon-luce {
    opacity: 0;
    -webkit-animation: appear .8s .6s forwards;
            animation: appear .8s .6s forwards;
}

.icon-acqua {
    opacity: 0;
    -webkit-animation: appear .8s .8s forwards;
            animation: appear .8s .8s forwards;
}

.info {
    opacity: 0;
    -webkit-animation: fadeIn 1.6s 1.6s forwards;
            animation: fadeIn 1.6s 1.6s forwards;
}

.contacts {
    opacity: 0;
    -webkit-animation: fadeIn 1.6s 1.8s forwards;
            animation: fadeIn 1.6s 1.8s forwards;
}

.icon,
.content {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.in-viewport .icon,
.in-viewport .content {
    opacity: 1;
}

#home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E3F1FF));
    background-image: -o-linear-gradient(#fff, #E3F1FF);
    background-image: linear-gradient(#fff, #E3F1FF);
}

#servizi {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E3F1FF), to(#fff));
    background-image: -o-linear-gradient(#E3F1FF, #fff);
    background-image: linear-gradient(#E3F1FF, #fff);
}

#pronto-intervento {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E3F1FF));
    background-image: -o-linear-gradient(#fff, #E3F1FF);
    background-image: linear-gradient(#fff, #E3F1FF);
}

#footer {
    background-color: #E3F1FF;
    position: relative;
}

#home svg {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    width: 75vw;
}

.info,
.contacts {
    height: auto;
    border: solid 1px #12184a;
    border-radius: 16px;
    -webkit-box-shadow: 4px 4px 0 0px #12184a;
            box-shadow: 4px 4px 0 0px #12184a;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
}

.info {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contacts {
    grid-column-start: 3;
    grid-column-end: 4;
}

.info p,
.info a,
.footer-container p,
.footer-container a,
.contacts p {
    font-size: 14px;
    margin-top: 8px;
}

.info span {
    margin-left: 24px;
}

.where {
    margin-top: 18px;
}

.section-title {
    padding: 16px 0;
}

.section-title h2 {
    font-size: 14px;
    text-transform: uppercase;
}

.section-container {
    position: relative;
    z-index: 2;
    margin: 0 15vw;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
}

.card {
    position: relative;
    z-index: 1;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 48vh;
}

.card-front, 
.card-back {
    position: absolute;
    width: 100%;
    height: 48vh;
    border: solid 1px #12184a;
    border-radius: 16px;
    -webkit-box-shadow: 4px 4px 0 0px #12184a;
            box-shadow: 4px 4px 0 0px #12184a;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
}

.card-back {
    text-align: left;
}

.card-back p, 
.card-back h2 {
    margin-bottom: 16px;
}

.card-front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    z-index: 2;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.card-front img {
    width: 120px;
}

.card:hover .card-front {
    opacity: 0;
    pointer-events: none;
}

.gas {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFEC85), to(#fff));
    background-image: -o-linear-gradient(#FFEC85, #fff);
    background-image: linear-gradient(#FFEC85, #fff);
}

.energia {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C2E99A), to(#fff));
    background-image: -o-linear-gradient(#C2E99A, #fff);
    background-image: linear-gradient(#C2E99A, #fff);
}

.acqua {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#AAD7E5), to(#fff));
    background-image: -o-linear-gradient(#AAD7E5, #fff);
    background-image: linear-gradient(#AAD7E5, #fff);
}

.int {
    background-color: #fff;
}

.int-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #12184a;
}

.int-back a,
.int-back p {
    color: #fff;
    text-align: center;
}

#footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-container {
    margin: 0 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.footer-contact-column {
    width: 35%;
}

.footer-form-column {
    width: 65%;
}

.footer-form-column p {
    text-align: right;
    margin-bottom: 8px;
}

.footer-column a {
    cursor: pointer;
}

.contact-form {
    width: 100%;
    border: solid 1px #12184a;
    border-radius: 16px;
    -webkit-box-shadow: 4px 4px 0 0px #12184a;
            box-shadow: 4px 4px 0 0px #12184a;
}

.contact-form input,
.contact-form textarea {
    display: block;
    background-color: #fff;
    width: 100%;
    border: none;
    font-family: "HK Grotesk";
    font-size: 14px;
    color: #12184a;
    padding: 24px;
    outline: none;
}

.contact-form input {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.contact-form button {
    display: block;
    background-color: #E3F1FF;
    width: 100%;
    border: none;
    font-family: "HK Grotesk";
    font-size: 14px;
    padding: 16px;
    outline: none;
    cursor: pointer;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.contact-form textarea {
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: none;
}

.contact-form div {
    border-top: solid 1px #12184a;
    border-bottom: solid 1px #12184a;
}

.to-top {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 15vh;
    right: 5vw;
    cursor: pointer;
    -webkit-transition: -webkit-transform .35s ease;
    transition: -webkit-transform .35s ease;
    -o-transition: transform .35s ease;
    transition: transform .35s ease;
    transition: transform .35s ease, -webkit-transform .35s ease;
}

.to-top:hover {
    -webkit-transform: translateY(-20px) scale(1.05);
    -ms-transform: translateY(-20px) scale(1.05);
        transform: translateY(-20px) scale(1.05);
}

.colophon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 64px;
    margin-top: 10vh;
    font-size: 14px;
    border-top: solid 1px #12184a;
    background-color: #FFEC85;
}

.colophon-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.colophon-content p {
    margin-right: 80px;
}

.full-height {
    height: 100vh;
}

#list {
    padding: 5vh 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(#E3F1FF));
    background-image: -o-linear-gradient(#fff, #E3F1FF);
    background-image: linear-gradient(#fff, #E3F1FF);
}

.list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 16px 1fr;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid #12184a;
    padding: 16px 0;
    grid-gap: 0 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

.list-status {
    width: 12px;
    height: 12px;
    background: transparent;
    border: solid 1px #12184a;
    border-radius: 50%;
    margin-top: 2px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.list-title {
    font-size: 14px;
    cursor: pointer;
}

.list-info {
    display: none;
    margin: 24px 0;
}

.list-info h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 16px 0;
}

.list-info li {
    font-family: "HK Grotesk Light", sans-serif;
    margin: 8px 0 0 24px;
}

.list-info ul ul {
    list-style-position: inside;
    list-style-type: none;
}

.list-info a {
    text-decoration: underline;
    cursor: pointer;
    line-height: 1.5;
}

.list-info p {
    font-family: "HK Grotesk Light", sans-serif;
    margin: 8px 0;
}

div.opened div.list-info {
    display: block;
}

div.opened .list-status {
    background: #12184a;
}